@font-face {
	font-family: 'San Francisco';
	font-weight: 100;
	src: url(../fonts/SF-Pro-Text-Ultralight.ttf);
}

@font-face {
	font-family: 'San Francisco';
	font-weight: 100;
	font-style: italic;
	src: url(../fonts/SF-Pro-Text-UltralightItalic.ttf);
}

@font-face {
	font-family: 'San Francisco';
	font-weight: 300;
	src: url(../fonts/SF-Pro-Text-Thin.ttf);
}

@font-face {
	font-family: 'San Francisco';
	font-weight: 300;
	font-style: italic;
	src: url(../fonts/SF-Pro-Text-ThinItalic.ttf);
}

@font-face {
	font-family: 'San Francisco';
	font-weight: 400;
	src: url(../fonts/SF-Pro-Text-Regular.ttf);
}

@font-face {
	font-family: 'San Francisco';
	font-weight: 400;
	font-style: italic;
	src: url(../fonts/SF-Pro-Text-RegularItalic.ttf);
}

@font-face {
	font-family: 'San Francisco';
	font-weight: 500;
	src: url(../fonts/SF-Pro-Text-Medium.ttf);
}

@font-face {
	font-family: 'San Francisco';
	font-weight: 500;
	font-style: italic;
	src: url(../fonts/SF-Pro-Text-MediumItalic.ttf);
}

@font-face {
	font-family: 'San Francisco';
	font-weight: 600;
	src: url(../fonts/SF-Pro-Text-Semibold.ttf);
}

@font-face {
	font-family: 'San Francisco';
	font-weight: 600;
	font-style: italic;
	src: url(../fonts/SF-Pro-Text-SemiboldItalic.ttf);
}

@font-face {
	font-family: 'San Francisco';
	font-weight: 700;
	src: url(../fonts/SF-Pro-Text-Bold.ttf);
}

@font-face {
	font-family: 'San Francisco';
	font-weight: 700;
	font-style: italic;
	src: url(../fonts/SF-Pro-Text-BoldItalic.ttf);
}

@font-face {
	font-family: 'San Francisco';
	font-weight: 900;
	src: url(../fonts/SF-Pro-Text-Black.ttf);
}

@font-face {
	font-family: 'San Francisco';
	font-weight: 900;
	font-style: italic;
	src: url(../fonts/SF-Pro-Text-BlackItalic.ttf);
}
