@font-face {
	font-family: 'SF Compact';
	font-weight: 300;
	src: url(../fonts/SF-Compact-Text-Light.otf);
}

@font-face {
	font-family: 'SF Compact';
	font-weight: 300;
	font-style: italic;
	src: url(../fonts/SF-Compact-Text-LightItalic.otf);
}

@font-face {
	font-family: 'SF Compact';
	font-weight: 400;
	src: url(../fonts/SF-Compact-Text-Regular.otf);
}

@font-face {
	font-family: 'SF Compact';
	font-weight: 400;
	font-style: italic;
	src: url(../fonts/SF-Compact-Text-RegularItalic.otf);
}

@font-face {
	font-family: 'SF Compact';
	font-weight: 500;
	src: url(../fonts/SF-Compact-Text-Medium.otf);
}

@font-face {
	font-family: 'SF Compact';
	font-weight: 500;
	font-style: italic;
	src: url(../fonts/SF-Compact-Text-MediumItalic.otf);
}

@font-face {
	font-family: 'SF Compact';
	font-weight: 600;
	src: url(../fonts/SF-Compact-Text-Semibold.otf);
}

@font-face {
	font-family: 'SF Compact';
	font-weight: 600;
	font-style: italic;
	src: url(../fonts/SF-Compact-Text-SemiboldItalic.otf);
}

@font-face {
	font-family: 'SF Compact';
	font-weight: 700;
	src: url(../fonts/SF-Compact-Text-Bold.otf);
}

@font-face {
	font-family: 'SF Compact';
	font-weight: 700;
	font-style: italic;
	src: url(../fonts/SF-Compact-Text-BoldItalic.otf);
}

@font-face {
	font-family: 'SF Compact';
	font-weight: 800;
	src: url(../fonts/SF-Compact-Text-Heavy.otf);
}

@font-face {
	font-family: 'SF Compact';
	font-weight: 800;
	font-style: italic;
	src: url(../fonts/SF-Compact-Text-HeavyItalic.otf);
}
