// Widget Header Style (mini tab shown above Widgets when in Edit mode)
.ak-layout-item-widget-header {
	top: 0;
	height: 25px;
	color: #a3a6ad;
	border-bottom: 1px solid #191b1e;
	background: #373b41;
}

// Widget Header Title Text (text shown inside mini tab shown above Widgets when in Edit mode)
.ak-layout-item-widget-header .header-info,
.ak-layout-item-widget-header .header-title {
	font-family: 'SF Compact';
	letter-spacing: -.5px;
	font-size: 10px;
	line-height: 14px;
	white-space: nowrap;
	padding: 6px 6px 5px 8px;
	overflow: hidden;
	text-overflow: ellipsis;
}
